.show {
    display: block;
}

.post {
    border: 2px solid #dedede;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 15px 15px 10px 20px;
    margin: 10px 170px;
}

    .post:nth-child(2n+1) {
        border-color: #ccc;
        background-color: #ddd;
    }

.post::after {
    content: "";
    clear: both;
    display: table;
}

.up-vote {
    float: right;
    color: #27d950;
    font-weight: bold;
}
.down-vote {
    float: right;
    color: #ff3421;
    font-weight: bold;
}
.divide {
    float: right;
    color: #b3b3b3;
    font-weight: bold;
}
.time-right {
    float: right;
    color: #aaa;
    margin-right: 6px;
}

.post a {
    text-decoration: none;
    color: black;
}
    .post a::after {
        content: "";
        clear: both;
        display: table;
    }
