.dropbtn {
    background-color: #0094ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 16px auto auto auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width:100%;
}

    .dropbtn:hover, .dropbtn:focus {
        opacity: 0.8;
    }

.container {
    height: 90px;
    position: relative;
}

.dropdown {
    position: absolute;
    margin: 0;
    display: inline-block;
    width: 160px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content p {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content p:hover {
            background-color: #dfdfdf;
        }

.show {
    display: block;
}

.post {
    border: 2px solid #dedede;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 150px;
}

.post::after {
    content: "";
    clear: both;
    display: table;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.up-vote {
    float: right;
    color: #27d950;
    font-weight: bold;
}
.down-vote {
    float: right;
    color: #ff3421;
    font-weight: bold;
}
.divide {
    float: right;
    color: #b3b3b3;
    font-weight: bold;
}
.time-right {
    float: right;
    color: #aaa;
}

.post a {
    text-decoration: none;
    color: black;
}
    .post a::after {
        content: "";
        clear: both;
        display: table;
    }
