@page "/"

<PageTitle>Home</PageTitle>

<div style="text-align: center">
	<h1>Ogólnopolska strona do zgłaszania zagrożeń w twojej okolicy.</h1>
	<h2>Widzisz zagrożenie? Zgłoś je!</h2>
	Aktualnie w Polsce śledzimy x zagrożeń, oraz x punktów z zasobami
</div>



