@page "/post"

<div class="container">
	<div class="postCont">
		<span class="name">Imie</span>
		<span class="city">Miasto</span>
		<span class="time">12:00</span>
		<span class="date">12.03.2001</span>
		<h2>Opis postu</h2>
		<p>Treść postu</p>
		<button class="upVoteButt">23</button>
		<button class="downVoteButt">4</button>
		<p> </p>
	</div>
	
	<button class="commentButt">Dodaj komentarz</button>
	<div class="comments">
		<span class="commentName">Komentujący</span>
		<span class="commentTime">12:00</span>
		<span class="commentDate">26.12.2002</span>
		<span class="commentText">Treść komentarza</span>
	</div>
</div>

@code {

}
