.dropbtn {
	background-color: #0094ff;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}

	.dropbtn:hover, .dropbtn:focus {
		opacity: 0.8;
	}

.container {
    height: auto;
    display: inline-block;
}

.dropdown {
    position: relative;
    margin: 0;
    display: inline-block;
    width: 220px;
    /*float: right;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    cursor: pointer;
}

    .dropdown-content p {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        margin: 0;
    }

		.dropdown-content p:hover {
			background-color: #dfdfdf;
		}

.show {
	display: block;
}
