label {
	margin-top: 0.5em;
}

div p {
	text-align: center;
}


.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    place-content: center;
}

.inContainer {
    display: flex-block;
    padding: 22px;
    flex-basis: 55%;
    border-radius: 8px 8px 8px 8px;
}


.pre-wrap {
    white-space: pre-wrap;
}

