label {
	margin-top: 0.5em;
}

div p {
	text-align: center;
}


.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    place-content: center;
}

.inContainer {
    display: flex-block;
    padding: 22px;
    flex-basis: 55%;
    border-radius: 8px 8px 8px 8px;
}


.pre-wrap {
    white-space: pre-wrap;
}

.picker-conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
}







/* Region button showing the picked region */
.btn-toggle-picker {
	background-color: #e6f4ff;
	color: #0094ff;
	border: 1px solid #bae7ff;
	padding: 2px 4px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	transition: all 0.2s ease-in-out;
	margin-bottom: 8px;
	width: auto;
}

	.btn-toggle-picker:hover {
		background-color: #bae7ff;
		color: #007adb;
	}
